<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.AddressMapper">
	<resultMap type="com.democracy.hhrr.domain.models.Address" id="AddressResult">
  	
  		<id		property = "addressId" 			column = "address_id"/>
		<result property="addressNumber" 		column="address_number"/>
		<result property="geoLocation" 			column="geo_location"/>

		<association property="department" 	 resultMap="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.DepartmentMapper.DepartmentResult"/>
		<association property="city" 		 resultMap="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.CityMapper.CityResult"/>
		<association property="neighborhood" resultMap="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.NeighborhoodMapper.NeighborhoodResult"/>
		<association property="street1" 	 resultMap="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.StreetMapper.StreetResult"/>
		<association property="street2" 	 resultMap="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.StreetMapper.StreetResult"/>
  	</resultMap>
</mapper>