<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.NeighborhoodStreetMapper">
	<resultMap type="com.democracy.hhrr.domain.aux.NeighborhoodStreet" id="NeighStreetResult">
  	
  		<id		property = "neighStreetId" 			column= "neigh_street_id"/>
		<result property = "neighborhoodId"			column= "neighborhood_id"/>
		<result property = "streetId"				column= "street_id"/>
  	</resultMap>
</mapper>