<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.NeighborhoodMapper">
	<resultMap type="com.democracy.hhrr.domain.models.Neighborhood" id="NeighborhoodResult">
  	
  		<id		property = "neighborhoodId" 			column = "neighborhood_id"/>
		<result property ="neighborhoodName"			column="neighborhood_name"/>

		<association property="department" 				resultMap="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.DepartmentMapper.DepartmentResult" />
  	</resultMap>
</mapper>