<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.QualificationMapper">
	<resultMap type="com.democracy.hhrr.domain.models.Qualification" id="QualificationResult">
  	
  		<id		property = "qualificationId" 	column = "qualification_id"/>
		<result property = "verified" 			column = "verified"/>
		<result property = "approved" 			column = "approved"/>

		<association property="institute" 	 resultMap="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.InstituteMapper.InstituteResult"/>
		<collection property="documents" 	 resultMap="com.democracy.hhrr.infrastructure.repository.mybatis.r2dbc.mappers.DocumentMapper.DocumentResult"/>
  	</resultMap>
</mapper>